.modal-container{
    width: 600px;
    height: 400px;
    display: grid;
    background-color: white;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 25%;
    right: 30%;
}