.Search {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 209, 204);
    border-radius: 8px;
    padding: 12px;

}

.Search:focus{
    outline-color: rgb(249, 200, 93);
}